@import url("../variaveis.css");

.contato {
    height: 120vh;
}

.contato__titulo {
    font-family: var(--fonte-secundaria);
    text-align: center;
    border-top: 2px solid var(--cor-primario-ligth);
    padding: 2rem 0 0 0;

    animation: surgimentoTitulo 3s;
}

@keyframes surgimentoTitulo {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.contato__titulo--img {
    width: 5rem;
    vertical-align: middle;
    padding-bottom: .7rem;
}

.contato__pergaminho {
    position: absolute;
    width: 100vw;
    height: 102vh;

    animation: surgimentoPergaminho 1s;
}

@keyframes surgimentoPergaminho {
    from {
        height: 20vh
    }

    to {
        height: 88vh
    }
}

.container__formulario {
    height: 90vh;
}

.formulario__container--input {
    position: relative;
    margin: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 15vh;
    left: 15%;
    width: 60vw;

    animation: surgimentoFormulario 1.5s .5s;
    opacity: 0%;
    animation-fill-mode: forwards;
}

@keyframes surgimentoFormulario {
    from {
        opacity: 0%;
        transform: translateY(-40px);
    }

    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.formulario__input {
    background-color: var(--cor-primario-ligth);
    border-bottom: 1px solid var(--cor-terciaria-dark);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.formulario__input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.formulario__input:focus {
    outline: none;
}

.formulario__input--label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: small;
    font-weight: 500;
    transition: all .25s;
}

.formulario__input:not(:placeholder-shown)+.formulario__input--label,
.formulario__input:focus+.formulario__input--label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .25s;
}

.formulario__input--msgErro {
    color: var(--cor-terciaria-dark);
    font-weight: 500;
}

.erroEmail {
    display: none;
}

.formulario__campoTexto {
    background-color: var(--cor-primario-ligth);
    border-bottom: 1px solid var(--cor-terciaria-dark);
    padding: 1rem 0 0 .5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.formulario__campoTexto:focus {
    outline: none;
}

.formulario__btnEnviar {
    background-color: var(--cor-terciaria-dark);
    width: 10rem;
    height: 3rem;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    margin: 2rem 0;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.formulario__btnEnviar:hover {
    background-color: var(--cor-primario-ligth);
}

@media screen and (min-width: 768px) {
    .contato {
        height: 85vh;
    }

    .contato__titulo {
        padding-top: 3rem;
    }

    .contato__pergaminho {
        height: 77vh;
    }

    @keyframes surgimentoPergaminho {
        from {
            height: 20vh
        }

        to {
            height: 68vh
        }
    }

    .container__formulario {
        height: 70vh;
    }

    .password {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1440px) {
    .contato {
        height: 85vh;
    }

    .contato__titulo {
        padding-top: 4rem;
    }

    .contato__pergaminho {
        height: 85vh;
        width: 53vw;
        left: 23%;
    }

    @keyframes surgimentoPergaminho {
        from {
            height: 20vh
        }

        to {
            height: 82vh
        }
    }

    .container__formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85vh;
    }

    .formulario__container--input {
        left: 20%
    }

    .formulario__input,
    .formulario__campoTexto {
        width: 35vw;
    }

    .formulario__btnEnviar {
        align-self: flex-start;
        position: relative;
        left: 20%;
    }

    .password {
        margin-top: 10rem;
    }
}