:root {
    --font-padrao: 'Press Start 2P', cursive;
    --cor-letras-primaria: white;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container__presents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.titulo {
    color: var(--cor-letras-primaria);
    font-family: var(--font-padrao);
    margin-bottom: .5rem;
}

.subtitle {
    color: var(--cor-letras-primaria);
    font-family: var(--font-padrao);
}