:root {
    --font-padrao: 'Press Start 2P', cursive;
    --cor-letras-primaria: white;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: var(--font-padrao);
    color: var(--cor-letras-primaria);
}

h2 {
    margin-top: 2rem;
}

.container__story {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.story__img {
    width: 50vw;
    margin-bottom: 1rem;
}

.text {
    animation: escrevendo 2s steps(120, end);
    white-space: nowrap;
    overflow: hidden;
    font-size: 8px;
}

.pause {
    animation-play-state: paused;
}

@keyframes escrevendo {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.story__tippingEffect {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__mensagemFinal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagemFinal__texto {
    display: none;
    flex-direction: column;
    align-items: center;
    animation: surgimentoTexto 3s 1.5s;
    animation-fill-mode: forwards;
    opacity: 0%;
    text-align: center;
}

@keyframes surgimentoTexto {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }

}

.mensagemFinal__coracao {
    display: none;
    width: 5rem;
    margin-top: 1.5rem;
    opacity: 0%;


    animation: coracao 5s 2s;
    transform: rotateY(0deg);
}

@keyframes coracao {
    from {
        transform: rotateY(0deg);
        opacity: 0%;
    }

    to {
        transform: rotateY(1800deg);
        opacity: 100%;
    }
}


@media (min-width: 768px) {
    .story__tippingEffect {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .text {
        font-size: 13.5px;
    }

    .capitulo__um,
    .capitulo__dois,
    .capitulo__tres {
        margin: auto;
    }

    .mensagemFinal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}

@media (min-width: 1440px) {

    .text {
        font-size: 18px;
        margin-left: 0;
    }

    .capitulo__um,
    .capitulo__dois,
    .capitulo__tres {
        margin: auto;
    }

}